<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add points</title>
</head>
<body>
    <form
        th:object="${addPointsCommand}"
        th:action="@{/add}"
        method="post"
    >
        <label for="teams">Wybierz drużynę:</label>
        <select name="teams" id="teams" th:field="*{selectedTeam}">
            <option th:each="team : ${teams}" th:value="${team.name}" th:text="${team.name}" >Team</option>
        </select>
        <br>
        <label for="points">Punkty do dodania:</label>
        <input type="text" id="points" name="points" th:field="*{pointsToAdd}">
        <div th:if="${error_message != null}" th:text="${error_message}"></div>
        <button type="submit">Dodaj</button>
    </form>
</body>
</html>