<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add points</title>
</head>
<body>
    <form th:object="${addTeamCommand}" th:action="@{/teams/add}" method="post">
        <label for="points">Team name:</label>
        <input type="text" id="points" name="points" th:field="*{teamName}">
        <div th:if="${error_message != null}" th:text="${error_message}"></div>
        <button type="submit">Dodaj</button>
    </form>
</body>
</html>